 html,body {
    height: 100%;
    margin: 0;
}

#work {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius:10px ;
}

#container2 {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#work2 {
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

#generate-graph {
    margin: auto;
    display: block;
    background-color: cadetblue;
}

#solve {
    margin: auto;
    display: block;
    color: black;
    background-color: chartreuse;

}
